{#=====================================================
  404 missing resource page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    ...

{% endblock %}

{% block nav %}

  

{% endblock %}

{% block content %}

    <h1></h1>

    <p>* But nobody came.</p>

{% endblock %}

