{% extends 'pages/base.jinja' %}


{% block title %}

    Event Info

{% endblock %}

{% block nav %}

    <h1>name</h1>

{% endblock %}

{% block content %}

    <a href="/" role="button">Return</a>
    <a href="event_form" role="button">Add Event</a>

{% endblock %}