{% extends 'pages/base.jinja' %}


{% block title %}

    Event Info

{% endblock %}

{% block nav %}

    <h1>{{event.name}}</h1>

{% endblock %}

{% block content %}

    <p>{{event.date}} {{event.time}}</p>

    <p>{{event.info}}</p>

    <p>{{event.notes}}</p>

    <p>
        {% for person in people %}

            {% if person.event_id == event.id %}
                <span class="comma">{{ person.name }}</span>
            {% endif %}

        {% else %}

            None

        {% endfor %}
    </p>

    <a href="/" role="button">Return</a>

{% endblock %}