{% extends 'pages/base.jinja' %}


{% block title %}

    People list

{% endblock %}

{% block nav %}

    <h1>People</h1>

{% endblock %}

{% block content %}

        <table>
        <thead>
            <tr>
            <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <th scope="row"><a href="/people_info">{{person.name}}</a></th>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    <a href="/" role="button">Return</a>
    <a href="people_form" role="button">Add Person</a>

{% endblock %}

