{% extends 'pages/base.jinja' %}


{% block title %}

    Person Info

{% endblock %}

{% block nav %}

    <h1>{{person.name}}</h1>

{% endblock %}

{% block content %}

    <p>{{person.availability}}</p>

    <p>
        {% for event in events %}

            {% if event.people_id == person.id %}
                <span class="comma">{{ event.name }}</span>
            {% endif %}

        {% else %}

            None

        {% endfor %}
    </p>

    <a href="/people_list" role="button">Return</a>
    <a role="button" onclick="return confirm('Are you sure?')" href="/delete_person/{{person.id}}">Delete</a>

{% endblock %}