{% extends 'pages/base.jinja' %}


{% block title %}

    Person Info

{% endblock %}

{% block nav %}

    <h1>name</h1>

{% endblock %}

{% block content %}

    <a href="/people_list" role="button">Return</a>
    <a href="event_form" role="button">Add Person</a>

{% endblock %}