{% extends 'pages/base.jinja' %}


{% block title %}

    Person Form

{% endblock %}

{% block nav %}

    <h1>Add a Person</h1>

{% endblock %}

{% block content %}

    <article id="form">

        <form action="/add_person" method="POST">
            <label>
                Name
                <input name="name" type="text" required>
            </label>
            <label>
                Availability
                <input name="availability" type="text">
            </label>
            <button>submit</button>
        </form>

    </article>

    <a href="/" role="button">cancel</a>

{% endblock %}