/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* Add a comma after each span item that is not the last */
span.comma:not(:last-of-type)::after {
    content: ","
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

